{
  "env": {
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "plugin:unicorn/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "no-plusplus": "off",
    "import/no-cycle": "off",
    "import/extensions": ["error", "never"],
    "unicorn/prevent-abbreviations": [
      "error", {
        "checkProperties": false,
        "replacements": {
          "msg": false
        }
        }],
    "@typescript-eslint/camelcase": ["error", { "properties": "never" }],
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/explicit-member-accessibility": "off"
  }
}
