# Node modules
node_modules/

# Dist
dist/

# Test
*.html
__test__/info.json

# Cookies
state.json

# Logs
logs
*.log
npm-debug.log*

# Release
*.tgz

# Coverage directory used by tools like istanbul
coverage
.nyc_output
coverage.*
