# Node modules
node_modules/

# Dist
dist/

# Test
/src/test.ts
*.html
test/info.json

# Cookies
state.json

# Npm lock
package-lock.json

# Release
*.tgz

# Coverage directory used by tools like istanbul
coverage
.nyc_output
coverage.*
