* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}
.msg-frame{

    margin: 10px 100px;
    padding: 0;
    height: 80vh;
}
#messages {
    margin: 0 5px 0 9px;
    padding: 9px 5px 9px 0;
    overflow: auto;
    height: 100%;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
